apiVersion: v1
kind: Service
metadata:
  name: farminsight-ai-backend-service
  namespace: farminsight
spec:
  ports:
    - name: "8000"
      port: 8000
      targetPort: 8000
  selector:
    app: farminsight-ai-backend
